#changePasswordPopup {
    min-width: 400px;
    min-height: 300px;
}

[mat-dialog-title] {
    display: inline-block;
}

mat-form-field {
    display: block;
}

[mat-icon-button] {
    float: right;
}

mat-dialog-actions {
    float: right;
}