<div id="changePasswordPopup">
  <h3 mat-dialog-title>Change Password</h3>
  <button type="button" mat-icon-button [mat-dialog-close]="null">
    <mat-icon aria-label="Close">close</mat-icon>
  </button>
  <mat-dialog-content>
    <form [formGroup]="changePasswordForm">
      <mat-form-field>
        <input type="password" matInput placeholder="Current Password" formControlName="password" required>
        <mat-error *ngIf="changePasswordForm.controls.password.invalid">{{invalidPasswordMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="New Password" formControlName="newPassword" required>
        <mat-error *ngIf="changePasswordForm.controls.newPassword.invalid">{{invalidNewPasswordMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input type="password" matInput placeholder="Confirm New Password" formControlName="newPasswordConfirm" required>
        <mat-error *ngIf="changePasswordForm.controls.newPasswordConfirm.invalid">{{invalidNewPasswordConfirmMessage()}}</mat-error>
      </mat-form-field>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button type="button" id="changePasswordCancel" mat-raised-button color="warn" [mat-dialog-close]="null">Cancel</button>
    <button type="button" id="changePasswordSubmit" mat-raised-button color="primary" (click)="confirm()" [disabled]="checkingOldPassword || changePasswordForm.invalid || changePasswordForm.pristine">Change Password</button>
  </mat-dialog-actions>
</div>