<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:com/objectbrains/tms/spring/main-context.xml</param-value>
    </context-param>
    <resource-ref>
        <description>DB Connection</description>
        <res-ref-name>jdbc/UsersDB</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
    </resource-ref>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <!--    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>-->
    <filter>
        <filter-name>dispatcherFilter</filter-name>
        <filter-class>com.objectbrains.tms.restfull.util.CORSFilter</filter-class>
        <!--<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>-->
    </filter>
    <filter-mapping>
        <filter-name>dispatcherFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>redirectFilter</filter-name>
        <filter-class>com.objectbrains.tms.restfull.util.WebsocketRedirectFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>redirectFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>RecordingsServlet</servlet-name>
        <servlet-class>com.objectbrains.tms.servlet.FileServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/var/tmp/recordings_new/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ScreenshotServlet</servlet-name>
        <servlet-class>com.objectbrains.tms.servlet.FileServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/var/tmp/screenshots/</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GCEFileServlet</servlet-name>
        <servlet-class>com.objectbrains.tms.servlet.GCEFileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecordingsServlet</servlet-name>
        <url-pattern>/recordings/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScreenshotServlet</servlet-name>
        <url-pattern>/screenshots/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GCEFileServlet</servlet-name>
        <url-pattern>/GCEFileServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
